* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f7fc;
  color: #1e293b;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
}

input,
select,
textarea {
  font-family: inherit;
}