.my-jobs{
  padding:30px;
  min-height:100vh;
  background:#f4f7fc;
}

.my-jobs h1{
  text-align:center;
  margin-bottom:30px;
  color:#2563eb;
}

.job-card{
  background:white;
  padding:25px;
  border-radius:15px;
  margin-bottom:20px;
  box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.delete-btn{
  margin-top:15px;
  padding:10px 20px;
  border:none;
  background:#dc2626;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

.delete-btn:hover{
  background:#b91c1c;
}